button {
  background-color: transparent;
  color: var(--bg-color);
  border: 1px solid var(--font-color);
  border-radius: 4px;
  padding: 5px 20px;
  transition: all 200ms;
  cursor: pointer;
  height: 2.5rem;
}

button:hover {
  color: black;
  transform: scale(1.1);
  background-color: var(--font-color);
}

button:disabled {
  color: var(--font-disabled);
  border: 1px solid var(--font-disabled);
  pointer-events: none;
  opacity: 30%;
}

.nav-container > button {
  font-size: 0.75rem;
  width: fit-content;
}

.pulsing {
  animation-duration: 0.75s;
  animation-name: pulsing;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulsing {
  50% {
    transform: scale(1.05);

    box-shadow: 0 0 5px #fff;
  }
  100% {
    transform: scale(1);

    box-shadow: none;
  }
}
