.flex-column {
  display: flex;
  flex-direction: column;
}

.layout-container {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 1fr;
  min-height: 80vh;
  max-width: 1280px;
  padding: 60px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  grid-row: 4;
  grid-column: 3;
}

.game-info-container {
  grid-column: 1;
}

.end-turn-container {
  grid-row: 2;
  grid-column: 3;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.dice-container {
  grid-column: 1 / 4;
  transition: 1s;
}

.roll-button-container {
  grid-row: 2;
  grid-column: 1;
  padding: 2rem 0;
}

.scoreboard-container {
  grid-row: 1;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
