@import "./reset.css";
@import "./variables.css";
@import "./buttons.css";
@import "./layout.css";
@import "./dice.css";
@import "./modal.css";
@import "./responsive.css";

html {
  font-family: var(--main-font);
  color: var(--font-color);
  background: var(--bg-color);
}
