@import "./reset.css";
@import "./variables.css";
@import "./buttons.css";
@import "./layout.css";
@import "./dice.css";
@import "./modal.css";

html {
  font-family: var(--main-font);
  color: var(--font-color);
  background: var(--bg-color);
}

.action-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bank {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
}

.turn-score {
  padding: 1rem;
  font-size: 2rem;
}

.bank-dice-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bank-dice {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bank-dice > .die-side {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  padding: 0.5rem;
  grid-column: auto;
  grid-row: auto;
  transform: none;
}

.bank-dice > .die-side > .dot {
  height: 0.5rem;
  width: 0.5rem;
}

.player-score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-score {
  font-size: 2rem;
  padding: 0 3rem;
}
