@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  --bg-color: linear-gradient(#464646, #000);
  --font-color: #f0f0f0;
  --font-disabled: #9f9f9f;
  --main-font: "Roboto", sans-serif;
  --dice-size: 4rem;
  --dice-translateZ: 2.25rem;
}
